.box {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 5px;
}
.cointeiner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 400px;
    background-color: lightgray;
}

.self {
    align-self: flex-end;
}